<div style="display: flex;flex-direction: column;align-items: center;">
  <div style="display: flex;">

    <button (click)="changeDiv('div1')" mat-stroked-button class="buttonStyle2">component One</button>
    <button (click)="changeDiv('div2')" mat-stroked-button class="buttonStyle2">component two</button>
    <button (click)="changeDiv('div3')" mat-stroked-button class="buttonStyle2">component three</button>

  </div>

  <div style="display: flex;flex-direction: row;">

    <app-one id="div1" style="display: none;"></app-one>
    <app-two id="div2" style="display: none;"></app-two>
    <app-three id="div3"></app-three>
  </div>
</div>